<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.pinimg.com/736x/a8/e8/cd/a8e8cdb5757a557a1d960e8281dcc470.jpg"
        type="image/jpg">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Amateur Eyes</title>
</head>

<body>
    <main class="amture-body">
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/"><i class="fas fa-camera-retro"></i></a>
                </div>
                <nav class="sidebar-nav">
                    <ul>
                        <li><a href="/profile">
                                <div class="wrapper-image">
                                    <img id="profile_image" src="./assets/1.jpg">
                                </div>
                            </a></li>
                        <li><a href="/"><i class="far fa-home"></i></a></li>
                        <li><a href="/"><i class="far fa-heart"></i></a></li>
                        <li><a href="/"><i class="fal fa-webcam"></i></a></li>
                        <li><a href="/"><i class="fal fa-share-alt"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- body -->
        <div class="body">
            <section class="welcome">
                <div class="u-img">
                    <img id="u-img" src="./assets/1.jpg" />
                </div>
                <div class="welcome-details">
                    <div class="welcome-details__message">
                        <h1 class="primary-heading">Welcome to Amateur Eyes</h1>
                        <p class="name">Elham Fadel</p>
                        <p class="email">elham2000fadel@gamil.com</p>
                        <p><i class="fal fa-map-marker-alt"></i> Gaza</p>
                    </div>
                </div>
            </section>
            <section class="u-friend">
                <div class="u-friend--row">
                    

                </div>
            </section>
        </div>
    </main>
    <script src="./script/dom.js"></script>
    <script src="./script/fetch.js"></script>
</body>
</html>