<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.pinimg.com/736x/a8/e8/cd/a8e8cdb5757a557a1d960e8281dcc470.jpg" type="image/jpg">
    <link 
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./../public/css/style.css" >
    <title>Amateur Eyes</title>
</head>
<body>
 <main class="amture-body">
     <div class="sidebar">
         <div class="sidebar-wrapper">
             <div class="logo">
                 <a href="/"><i class="fas fa-camera-retro"></i></a>
             </div>
             <nav class="sidebar-nav">
                 <ul>
                     <li><a href="/profile"><img id="profile_image" src="./../public/assets/1.jpg"></a></li>
                     <li><a href="/"><i class="far fa-home"></i></a></li>
                     <li><a href="/"><i class="far fa-heart"></i></a></li>
                     <li><a href="/"><i class="fal fa-webcam"></i></a></li>
                     <li><a href="/"><i class="fal fa-share-alt"></i></a></li>
                 </ul>
             </nav>
            </div>
             </div>
            <!-- body -->
            <div class="body">
                <div class="container">
            </div>
            </div>
           
 </main>
</body>

</html>